@import "../../styles/variables";

.Landing {
    .inner {
        padding: {
            top: map-get($spacing, "xl");
            bottom: map-get($spacing, "xl");
        }
        .title {
            font: {
                weight: 500;
            }
            letter-spacing: 2px;

        }
        .subtitle {
            margin: {
                left: auto;
                right: auto;
                top: map-get($size, "lg");
                bottom: map-get($size, "lg");
            };
            max-width: 420px;
        }
        .dropdowns {
            justify-content: center;
            align-items: center;
            display: flex;
            padding: {
              top: map-get($spacing, "xs");
              bottom: map-get($spacing, "xs");
            };
        }

        .flex {
            display:flex; flex-direction:row;
        }

        .flags{
            height: 200px;
            width: 300px;
            text-indent: 100vw;
        }
    }
}
.matchHistory {
    text-align: center;
  }

